@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap');
body {
	margin: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

* {
	box-sizing: border-box;
}
