.container {
	background-image: url('../../assets/main.jpg');
	display: flex;
	justify-content: flex-end;
	background-size: cover;
	background-repeat: no-repeat;
}

.content {
	margin: 2em;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-right: 12em;
}

.title {
	background-color: white;
	padding: 0.5em;
	text-transform: uppercase;
	font-family: Lora;
	font-size: 1.75em;
}

.details {
	background-color: black;
	color: white;
	font-size: 1.5em;
	padding: 0.5em;
	font-family: Poppins;
}

.read-more {
	text-decoration: none;
	background-color: #0ba39c;
	color: white;
	text-transform: uppercase;
	border: none;
	font-weight: bold;
	font-size: 1.2em;
	font-family: Poppins;
	padding: 0.5em;
	&:hover {
		background-color: #1cc4bc;
		cursor: pointer;
	}
}

@media screen and (max-width: 642px) {
	.content::before{
    content: '';
    background-image: url('../../assets/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-width: 85vmin;
    aspect-ratio: 2;
  }
  
  .container {
		background-image: none;
    justify-content: center;
	}

  .content {
    padding: 0;
  }
}
