$whiteColor: white;
$blackColor: black;
$mainColor: #0ba39c;
$hoverColor: #1cc4bc;

.container {
  background-image: url("../../assets/jana-modified.png");
  display: flex;
  justify-content: flex-end;
  background-size: contain;
}

.content {
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 12em;
}

.title {
  background-color: $whiteColor;
  padding: .5em;
  text-transform: uppercase;
  font-family: Lora;
  font-size: 1.75em;
}

.details {
  background-color: $blackColor;
  color: $whiteColor;
  font-size: 1.5em;
  padding: .5em;
  font-family: Poppins;
}

.read-more {
  padding: 1em;
  background-color: $mainColor;
  color: $whiteColor;
  text-transform: uppercase;
  border: none;
  &:hover {
    background-color: $hoverColor;
    cursor: pointer;
  }
}